*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body,#app{
  height: 100vh;
}
#app{
  display: flex;
  align-items: center;
  flex-direction: column;
}
body{
  font-family: sans-serif;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

article.card{
  width: 200px;
  height: 300px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121e2b;

}
article.card img{
  width: 120px;
}